@import "tailwindcss";

:root {
  font-family: "Barlow Condensed", sans-serif;
  box-sizing: border-box;
  --font-barlow: "Barlow Condensed", sans-serif;
  --font-pinyon: "Pinyon Script", cursive;
  --color-primary: #d7dae1;
  --color-secondary: #000009;
  --color-accent: #775bc8;
  /* --background: #ffffff;
  --foreground: #171717; */
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 50;
  background-image: url("/images/noise.png");
  opacity: 0.03;
  /* mix-blend-mode: soft-light; */
}

@layer utilities {
  .text-primary {
    color: var(--color-primary);
  }
  .text-secondary {
    color: var(--color-secondary);
  }
  .text-accent {
    color: var(--color-accent);
  }
  .bg-primary {
    background-color: var(--color-primary);
  }
  .bg-secondary {
    background-color: var(--color-secondary);
  }
  .font-primary {
    font-family: var(--font-barlow);
  }
  .font-accent {
    font-family: var(--font-pinyon);
  }
  .bg-accent {
    background-color: var(--color-accent);
  }

  /* #noise-white {
    background-image: url("/images/noise_white.png");
    opacity: 0.04;
    mix-blend-mode: soft-light;
  }

  #noise-black {
    background-image: url("/images/noise_black.png");
    opacity: 0.03;
    mix-blend-mode: multiply;
  } */
}
