@import "tailwindcss";

:root {
  font-family: "Barlow Condensed", sans-serif;
  box-sizing: border-box;
  --font-barlow: "Barlow Condensed", sans-serif;
  --font-pinyon: "Pinyon Script", cursive;
  --color-primary: #d7dae1;
  --color-secondary: #000009;
  --color-accent: #775bc8;
  --carousel-speed: 50;

  --fluid-label: clamp(0.375rem, 0.0964rem + 1.1429vw, 1.125rem);
  --fluid-header-link: clamp(1rem, 0.9536rem + 0.1905vw, 1.125rem);
  --fluid-header-h2: clamp(1.75rem, 1.5643rem + 0.7619vw, 2.25rem);
  --fluid-header-occupation: clamp(1.125rem, 0.9857rem + 0.5714vw, 1.5rem);
  --fluid-h1-display: clamp(5.0844rem, 1.2881rem + 15.5743vw, 15.305rem);
  --fluid-h2-display: clamp(0.9969rem, 0.2529rem + 3.0524vw, 3rem);
  --fluid-manifesto: clamp(1rem, 0.3964rem + 2.4762vw, 2.625rem);
  --fluid-h2: clamp(1.5rem, 0.5018rem + 4.0952vw, 4.1875rem);
  --fluid-h3: clamp(1.125rem, 0.6607rem + 1.9048vw, 2.375rem);
  --fluid-paragraph: clamp(0.875rem, 0.8286rem + 0.1905vw, 1rem);
  --fluid-stackslider: clamp(2.5731rem, 0.9289rem + 6.7457vw, 7rem);
  --fluid-footer-h1: clamp(2rem, 1.7679rem + 0.9524vw, 2.625rem);
  --fluid-footer-h2: clamp(5.0538rem, -1.0525rem + 25.0514vw, 21.4938rem);
  --fluid-footer-link: clamp(1rem, 0.9536rem + 0.1905vw, 1.125rem);
  --fluid-footer-label: clamp(0.75rem, 0.75rem + 0vw, 0.75rem);
  --fluid-footer-copyright: clamp(0.5rem, 0.6714rem + -0.1905vw, 0.625rem);

  /* --background: #ffffff;
  --foreground: #171717; */
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 50;
  background-image: url("/images/noise.png");
  opacity: 0.03;
}

body {
  overflow-x: hidden;
}

@theme {
  
}

@layer utilities {
  .text-primary {
    color: var(--color-primary);
  }
  .text-secondary {
    color: var(--color-secondary);
  }
  .text-accent {
    color: var(--color-accent);
  }

  .fill-accent {
    fill: var(--color-accent);
  }
  .fill-primary {
    fill: var(--color-primary);
  }
  .fill-secondary {
    fill: var(--color-secondary);
  }

  .bg-primary {
    background-color: var(--color-primary);
  }
  .bg-secondary {
    background-color: var(--color-secondary);
  }
  .font-primary {
    font-family: var(--font-barlow);
  }
  .font-accent {
    font-family: var(--font-pinyon);
  }
  .bg-accent {
    background-color: var(--color-accent);
  }

  .fill-accent {
    fill: var(--color-accent);
  }
  .fill-primary {
    fill: var(--color-primary);
  }
  .fill-secondary {
    fill: var(--color-secondary);
  }

  /* #noise-white {
    background-image: url("/images/noise_white.png");
    opacity: 0.04;
    mix-blend-mode: soft-light;
  }

  #noise-black {
    background-image: url("/images/noise_black.png");
    opacity: 0.03;
    mix-blend-mode: multiply;
  } */
}

.underlined-text::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--color-secondary);
  transition: width 0.3s ease-in-out;
}

.underlined-text-white::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--color-primary);
  transition: width 0.3s ease-in-out;
}

.underlined-text:hover::after,
.underlined-text-white:hover::after {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

.underlined-text,
.underlined-text-white {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: max-content;
}


.block-line-wrapper {
  position: relative;
  display: block;
  width: max-content;
}

.block-line {
  position: relative;
  display: block;
}

.block-revealer {
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 101%;
  pointer-events: none;
  will-change: transform;
  z-index: 13;
}

#loading-container .masker {
  transform: scaleX(0);
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider .group.animate-scrollLeft {
  animation: sliderScrollLeft calc(var(--carousel-speed) * 1s) infinite ease-out;
}

.slider .group.animate-scrollRight {
  animation: sliderScrollRight calc(var(--carousel-speed) * 1s) infinite
    ease-out;
}

@keyframes sliderScrollLeft {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

@keyframes sliderScrollRight {
  from {
    translate: -100%;
  }
  to {
    translate: 0;
  }
}

/* #hero-title {
  font-size: clamp(75px, 22vw, 245px); 
  font-size: 244.88px;
}

#contact-title {
  font-size: clamp(70px, 19vw, 292px);
} */

label {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

label.white {
  color: var(--color-primary);
}

label.white::before {
  background-color: var(--color-primary);
}

label::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color-secondary);
  animation: fadeIn 1s infinite alternate;
  transition: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

mark {
  background-color: transparent;
}