@import "tailwindcss";

:root {
  font-family: "Barlow Condensed", sans-serif;
  box-sizing: border-box;
  --font-barlow: "Barlow Condensed", sans-serif;
  --font-pinyon: "Pinyon Script", cursive;
  --color-primary: #d7dae1;
  --color-secondary: #000009;
  --color-accent: #775bc8;
  /* --background: #ffffff;
  --foreground: #171717; */
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 50;
  background-image: url("/images/noise.png");
  opacity: 0.03;
}

@layer utilities {
  .text-primary {
    color: var(--color-primary);
  }
  .text-secondary {
    color: var(--color-secondary);
  }
  .text-accent {
    color: var(--color-accent);
  }

  .fill-accent {
    fill: var(--color-accent);
  }
  .fill-primary {
    fill: var(--color-primary);
  }
  .fill-secondary {
    fill: var(--color-secondary);
  }

  .bg-primary {
    background-color: var(--color-primary);
  }
  .bg-secondary {
    background-color: var(--color-secondary);
  }
  .font-primary {
    font-family: var(--font-barlow);
  }
  .font-accent {
    font-family: var(--font-pinyon);
  }
  .bg-accent {
    background-color: var(--color-accent);
  }

  .fill-accent {
    fill: var(--color-accent);
  }
  .fill-primary {
    fill: var(--color-primary);
  }
  .fill-secondary {
    fill: var(--color-secondary);
  }

  /* #noise-white {
    background-image: url("/images/noise_white.png");
    opacity: 0.04;
    mix-blend-mode: soft-light;
  }

  #noise-black {
    background-image: url("/images/noise_black.png");
    opacity: 0.03;
    mix-blend-mode: multiply;
  } */
}

.underlined-text::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--color-secondary);
  transition: width 0.3s ease-in-out;
}

.underlined-text-white::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--color-primary);
  transition: width 0.3s ease-in-out;
}

.underlined-text:hover::after,
.underlined-text-white:hover::after {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

.underlined-text,
.underlined-text-white {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: max-content;
}

h1 > div {
  font-kerning: none;
}

.block-line-wrapper {
  position: relative;
  display: block;
  width: max-content;
}

.block-line {
  position: relative;
  display: block;
}

.block-revealer {
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 101%;
  pointer-events: none;
  will-change: transform;
  z-index: 13;
}
