@import "tailwindcss";

:root {
  font-family: "Barlow Condensed", sans-serif;
  --font-barlow: "Barlow Condensed", sans-serif;
  --font-pinyon: "Pinyon Script", cursive;
  --color-primary: #d7dae1;
  --color-secondary: #000009;
  --color-accent: #775bc8;
  /* --background: #ffffff;
  --foreground: #171717; */
}

@layer utilities {
  .text-primary {
    color: var(--color-primary);
  }
  .text-secondary {
    color: var(--color-secondary);
  }
  .text-accent {
    color: var(--color-accent);
  }
  .bg-primary {
    background-color: var(--color-primary);
  }
  .bg-secondary {
    background-color: var(--color-secondary);
  }
  .font-primary {
    font-family: var(--font-barlow);
  }
  .font-accent {
    font-family: var(--font-pinyon);
  }
  .bg-accent {
    background-color: var(--color-accent);
  }

  .noise {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 1;
  }

  #noise-white {
    background: url("/images/noise_white.png") repeat;
    mix-blend-mode: multiply;
  }

  #noise-black {
    background: url("/images/noise_black.png") repeat;
    mix-blend-mode: screen;
    opacity: 0;
  }
}
